html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.containerIndex {
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 1px rgb(225, 225, 225);
}

.tituloIndex {
    font-size: 25px;
    color: #009791;
}

    


/* adicinar item precisodisso */

.h1Preciso, .h1Doar {
    font-size: 20px;
}

.divPreciso, .divDoar {
    margin-top: 20px;
    text-align: center;
    box-shadow: 1px 2px 8px 1px rgb(225, 225, 225);
    padding: 3px;
    border-radius: 10px
}




/* página sobre */
/* desenvolvido por */

/* página sobre */
/* desenvolvido por */

.desenvolvidoPor {
    margin-bottom: 50px;
    margin-top: 20px;
}

.tituloSobre {
    padding: 3px;
    font-size: 25px;
    margin-top: 30px;
    text-decoration: overline;
    color: #009791;
}

.strongSobre {
    padding: 5px;
}

.textoSobre {
    margin-top: 40px;
    padding: 5px;
    font-size: 20px;
}

.email {
    color: dimgray;
}

.email:hover {
    color: #3bca78;
}


.fundo {
    width: 50em;
    margin-top: 5em;
}


#backgroundLayout{
   background-image: url("../img/fundo.jpg");
}

.link {
    color: #3bca78;
}

.link:hover {
    color: #2c9f4a;
}

.fundo {
    width: 7em;
    margin-top: 10em;
}



.swal-button {
    background-color: #3bca78 !important;
}


.swal-button--confirm {
    background-color: #3bca78 !important;
}