#divPublicar, #divPubPedido {
    margin-top: 3em;
    text-align: center;

}


#selectTelaDoacao, #selectTelaPedir {
}


/* tela editar*/

#divEditar {
    text-align: center;
    margin-top: 25px;
}

#h1MsgErroEditar {
    font-size: 20px;
    color: red;
}