@using bem_brasil.Data
@model Operador
@{
    ViewData["Title"] = "Login";
}

<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url(https://i.im.ge/2022/09/21/1DtJbT.fundo-branco-final.jpg);
        height: 300px;
        margin-top: 1px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Login</h2>
          <form asp-controller="Cadastro" asp-action="Logar" method="get">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="login" asp-for="Email" class="form-control" />
              <label class="form-label" for="login">Email ou Login</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="senha" asp-for="Senha" class="form-control" />
              <label class="form-label" for="senha">Senha</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" onClick="confirmar()" 
             style="background-color: #3bca78; box-shadow: 0 4px 9px -4px #2c9f4a;">
              Entrar
            </button>

            <div class="text-center">
            <p>Não tem uma conta? <a asp-area="" asp-controller="Cadastro" asp-action="Registro" class="link">Cadastre-se</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->