@using bem_brasil.Data
@model Operador
@{
    ViewData["Title"] = "Registrar-se";
}

<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://i.im.ge/2022/09/21/1DtJbT.fundo-branco-final.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Cadastrar-se</h2>
          <form asp-controller="Cadastro" asp-action="CadastrarOperador" method="post">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
                <div class="form-outline mb-4">
                  <input type="text" asp-for="Nome" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Nome</label>
                </div>
            </div>
            
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email"  asp-for="Email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Endereço de Email </label>
            </div>

             <div class="form-outline mb-4">
              <input type="text"  asp-for="Cpf" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">CPF</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" asp-for="Senha" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Senha</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4"
             style="background-color: #3bca78; box-shadow: 0 4px 9px -4px #2c9f4a;">
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->