@{
}
<div id="divDoarBrinquedo">
<!-- Tela escolha Brinquedo -->

<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Pedido</p>

    <input type="text" id="inputTituloDoar" class="form-control mb-4" placeholder="Título">

    <input type="number" id="inputQuantDoar" class="form-control mb-4" placeholder="Quantidade">

    <input type="text" id="inputLinkDoar" class="form-control mb-4" placeholder="Link imagem">

    <input type="text" id="inputCepDoar" class="form-control mb-4" placeholder="Cep">

    <input type="text" id="inputRuaDoar" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="inputCidadeDoar" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="inputBairroDoar" class="form-control mb-4" placeholder="Bairro">

    <input type="number" id="inputNumeroCasaDoar" class="form-control mb-4" placeholder="Número casa/apto">

    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>
    </form>
</div>