@{
}
<div id="divDoarComida">

    <form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Pedido</p>

    <label>Tipo de alimento:</label>
    <select class="browser-default custom-select mb-4">
        <option value="1pedido" selected>Arroz</option>
        <option value="2pedido">Feijão</option>
        <option value="3pedido">Carne</option>
        <option value="4pedido">Cesta básica</option>
    </select>

    <input type="text" id="inputTituloDoar" class="form-control mb-4" placeholder="Título">
    <input type="text" id="inputValidadeDoar" class="form-control mb-4" placeholder="Validade">
    <input type="text" id="inputLinkDoar" class="form-control mb-4" placeholder="Link imagem">
    <input type="text" id="cepDoarComida" class="form-control mb-4" placeholder="Cep" onblur="pesquisa_dc()">
    <input type="text" id="ruaDoarComida" class="form-control mb-4" placeholder="Rua">
    <input type="text" id="cidadeDoarComida" class="form-control mb-4" placeholder="Cidade">
    <input type="text" id="bairroDoarComida" class="form-control mb-4" placeholder="Bairro">
    <input type="text" id="ufDoarComida" class="form-control mb-4" placeholder="UF">
    <input type="number" id="numeroCasaDoar" class="form-control mb-4" placeholder="Número casa/apto">

    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

    <button class="btn btn-primary me-3" type="submit" style="margin-top: 25px; margin-bottom: 25px;">Públicar</button>

</form>

</div>
