@{
        ViewData["Title"] = "Doar - Roupa";
 }

<div id="divDoarRoupa">

<!-- Tela escolha Roupa -->
<form class="text-center border border-light p-5" action="#!">

     <a class="btn btn-primary mb-3" type="button" asp-controller="Publicar" asp-action="Publicardoacao" style="background-color: #3bca78;
    box-shadow: 0 4px 9px -4px #2c9f4a;">Voltar</a><p class="h4 mb-4">Doar - Roupa</p>

        <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Tipo de roupa</option>
        <option value="1" selected>Inverno</option>
        <option value="2">Verão</option>
        <option value="3">Infantil</option>
        <option value="4">Adulta</option>
    </select>

    <input type="text" id="tituloDoarRoupa" class="form-control mb-4" placeholder="Título">

    <input type="number" id="quantidadeDoarRoupa" class="form-control mb-4" placeholder="Quantidade">

    <input type="text" id="linkDoarRoupa" class="form-control mb-4" placeholder="Link imagem">

    <input type="text" maxlength="8" id="cepDoarRoupa" class="form-control mb-4" placeholder="Cep" onblur="pesquisa_dr()">

    <input type="text" id="ufDoarRoupa" class="form-control mb-4" placeholder="UF">

    <input type="text" id="cidadeDoarRoupa" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="bairroDoarRoupa" class="form-control mb-4" placeholder="Bairro">

    <input type="text" id="ruaDoarRoupa" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="numeroCasaDoarRoupa" class="form-control mb-4" placeholder="Número casa/apto">

    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

    <button class="btn btn-primary me-3" type="submit" style="margin-top: 25px; margin-bottom: 25px;background-color: #3bca78;
    box-shadow: 0 4px 9px -4px #2c9f4a;">Publicar</button>

</form>

</div>


