@using bem_brasil.DataDb
@model Operador
@{
}



<div id="divEditar">
            <div id="mensagemErroEditar"></div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Endereço de Email </label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Senha</label>
            </div>

            <a class="btn btn-primary mb-3" type="button" asp-controller="Home" asp-action="Index" style="background-color: #3bca78;
             box-shadow: 0 4px 9px -4px #2c9f4a;">Voltar</a>

            <button type="submit" class="btn btn-primary mb-3" id="btnEnviarEdit" onclick="editarDados()" style="background-color: #3bca78;
             box-shadow: 0 4px 9px -4px #2c9f4a;">Enviar</button>

  </div>
<!-- Section: Design Block -->


