@using bem_brasil.Data
@model Operador
@{
}



<div id="divEditar">

            <div id="mensagemErroEditar"></div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Endereço de Email </label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Senha</label>
            </div>


            <button type="submit" class="btn btn-primary" id="btnEnviarEdit" onclick="editarDados()">Enviar</button>

  </div>
<!-- Section: Design Block -->


