@using bem_brasil.Data
@model Produto
@{
    ViewData["Title"] = "Preciso - Comida";
}

<div id="divPublicarComida">

 <form class="text-center border border-light p-5" asp-controller="Publicar" asp-action="PostarPedido">

        <a class="btn btn-primary mb-3" type="button" asp-controller="Publicar" asp-action="Publicarpedido" style="background-color: #3bca78;
        box-shadow: 0 4px 9px -4px #2c9f4a;">Voltar</a><p class="h4 mb-4">Solicitar - Comida</p>

        <label>Tipo de alimento:</label>
        <select class="browser-default custom-select mb-4" asp-for="TipoComida">
            <option value="1" selected>Arroz</option>
            <option value="2">Feijão</option>
            <option value="3">Carne</option>
            <option value="4">Cesta básica</option>
        </select>

        <input type="text" id="tituloDoarComida" class="form-control mb-4" placeholder="Título">

        <input type="number" id="quantidadeDoarComida" class="form-control mb-4" placeholder="Quantidade" asp-for="QtdProduto">

        <input type="number" id="validadeDoarComida" class="form-control mb-4" placeholder="Validade">

        <input type="text" id="linkDoarComida" class="form-control mb-4" placeholder="Link imagem" asp-for="LinkImagem">

        <input type="text" maxlength="8" id="cepDoarComida" class="form-control mb-4" placeholder="Cep" onblur="pesquisa_dc()">

        <input type="text" id="ufDoarComida" class="form-control mb-4" placeholder="UF">

        <input type="text" id="cidadeDoarComida" class="form-control mb-4" placeholder="Cidade">

        <input type="text" id="bairroDoarComida" class="form-control mb-4" placeholder="Bairro">

        <input type="text" id="ruaDoarComida" class="form-control mb-4" placeholder="Rua">

        <input type="text" id="numeroCasaDoarComida" class="form-control mb-4" placeholder="Número casa/apto">

        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição" asp-for="Descricao"></textarea>
        </div>

        <button class="btn btn-primary me-3" type="submit" style="margin-top: 25px; margin-bottom: 25px;background-color: #3bca78;
        box-shadow: 0 4px 9px -4px #2c9f4a;">Publicar</button>

        <input type='number' class='invisible' value='1' asp-for='TipoProduto'/> 

    </form>

</div>
