@{
    ViewData["Title"] = "Preciso - Brinquedo";
}

<div id="divPublicarBrinquedo">
<!-- Tela escolha Brinquedo -->

<form class="text-center border border-light p-5" action="#!">

    <a class="btn btn-primary mb-3" type="button" asp-controller="Publicar" asp-action="Publicarpedido">Voltar</a><p class="h4 mb-4">Preciso - Brinquedo</p>

    <input type="text" id="inputTituloPedir" class="form-control mb-4" placeholder="Título">

    <input type="number" id="inputQuantPedir" class="form-control mb-4" placeholder="Quantidade">

    <input type="text" id="inputLinkPedir" class="form-control mb-4" placeholder="Link imagem">

    <input type="text" id="inputCepPedir" class="form-control mb-4" placeholder="Cep">

    <input type="text" id="inputRuaPedir" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="inputCidadePedir" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="inputBairroPedir" class="form-control mb-4" placeholder="Bairro">

    <input type="number" id="inputNumeroCasaPedir" class="form-control mb-4" placeholder="Número casa/apto">

    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

    <button class="btn btn-primary me-3" type="submit" style="margin-top: 25px; margin-bottom: 25px;">Publicar</button>

</form>
</div>
