@{
    ViewData["Title"] = "Publicar intem a ser doado";
}

<!-- Tela escolha de doação -->

<label>Escolha o tipo de item que você deseja doar</label>

<select id="selectTelaDoacao" class="browser-default custom-select mb-4" style="width: 200px;">
  <option value="" disabled>Escolha</option>
  <option value="1">Comida</option>
  <option value="2">Roupa</option>
  <option value="2">Roupa</option>
  <option value="3">Brinquedo</option>
</select>



<div id="divPublicarDoacao">
</div>
