@{
    ViewData["Title"] = "Públicar item que você precisa";
}


<div id="divPubPedido">


<label>Escolha o tipo de item que você precisa</label>

<select id="selectTelaPedir" class="browser-default custom-select mb-4" style="width: 200px;" onchange="publicarPedido()">
  <option value="1" selected>Comida</option>
  <option value="2">Roupa</option>
  <option value="3">Brinquedo</option>
</select>

</div>
<form class="text-center border border-light p-5" action="#!">
<div id="divPublicarPedido">
</div>

 <button type="submit" id="btnSubmit" style="visibility: hidden; color: #009791;" asp-controller="Endereco" asp-action="Endereco">Proxímo</button>

</form>







