@{
    ViewData["Title"] = "Públicar item que você precisa";
}


<div id="divPubPedido">

<label>Escolha o tipo de item que você precisa</label>

<div class="d-grid gap-2 d-md-block" style="text-align: center;">
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="PrecisoComida"
  style="background-color: #3bca78; box-shadow: 0 4px 9px -4px #2c9f4a;">Comida</a>

  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="PrecisoRoupa"
  style="background-color: #3bca78; box-shadow: 0 4px 9px -4px #2c9f4a;">Roupa</a>

  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="PrecisoBrinquedo"
  style="background-color: #3bca78; box-shadow: 0 4px 9px -4px #2c9f4a;">Brinquedo</a>
</div>

<img src="~/img/animacao.gif" class="fundo" id="backgroundPedido"/>

</div>








