@{
    ViewData["Title"] = "Públicar item que você precisa";
}


<div id="divPubPedido">

<label>Escolha o tipo de item que você precisa</label>

<div class="d-grid gap-2 d-md-block" style="text-align: center;">
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="PrecisoComida">Comida</a>
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="PrecisoRoupa">Roupa</a>
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="PrecisoBrinquedo">Brinquedo</a>
</div>

</div>








