@{
    ViewData["Title"] = "Publicar intem a ser doado";
}

<!-- Tela escolha de doação -->


<div id="divPublicar">
<label>Escolha o tipo de item que você deseja doar</label>

<div class="d-grid gap-2 d-md-block" style="text-align: center;">
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="DoacaoComida">Comida</a>
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="DoacaoRoupa">Roupa</a>
  <a class="btn btn-primary" type="button" asp-controller="Publicar" asp-action="DoacaoBrinquedo">Brinquedo</a>
</div>
</div>
