@{
    ViewData["Title"] = "Públicar item que você precisa";
}


<div id="divPubPedido">


<label>Escolha o tipo de item que você precisa</label>

<select id="selectTelaPedir" class="browser-default custom-select mb-4" style="width: 200px;" onchange="publicarPedido()">
  <option value="1" selected>Comida</option>
  <option value="2">Roupa</option>
  <option value="3">Brinquedo</option>
</select>

</div>

<div id="divPublicarPedido">
</div>







