@using bem_brasil.DataDb
@model Endereco
@{
    ViewData["Title"] = "Publicar intem a ser doado";
}

<!-- Tela escolha de doação -->


<div id="divPublicar">
<label>Escolha o tipo de item que você deseja doar</label>

<select id="selectTelaDoacao" class="browser-default custom-select mb-4" style="width: 200px;" onchange="publicar()">
  <option value="1" selected>Comida</option>
  <option value="2">Roupa</option>
  <option value="3">Brinquedo</option>
</select>
</div>


<div id="divPublicarDoacao">
</div>
    