<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bem_brasil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bem_brasil.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="bb.ico"/>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <header>
     <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2">
      <img
        src="~/img/logo_bb.png"
        height="26"
        alt="Bem Brasil Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" asp-controller="Home" asp-action="Sobre">Quem somos?</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <a class="btn btn-link px-3 me-2" asp-area="" asp-controller="Home" asp-action="Login" style="
        color: rgb(53, 138, 40);">Login</a>

        <a class="btn btn-primary me-3" asp-area="" asp-controller="Home" asp-action="Registro" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Cadastre-se</a>
      </div>
    </div>
    <!-- Collapsible wrapper -->





     <ul class="navbar-nav d-flex flex-row">
      <!-- Icon dropdown -->
      <li class="nav-item me-3 me-lg-0 dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          style="color: rgb(53, 138, 40);"
        >
          <i class="fas fa-user" style="color: #3bca78;" onMouseOver="this.style.color='#29B966'" onMouseOut="this.style.color='#3bca78'"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar -->
<div class="navbar navbar-expand-lg navbar-light";>
  <div class="collapse navbar-collapse justify-content-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a asp-controller="Home" asp-action="Precisodisso">Preciso disso</a>
        </li>
        <li class="breadcrumb-item">
          <a asp-controller="Home" asp-action="Querodoar">Quero doar</a>
        </li>
      </ol>
    </nav>
  </div>
</div>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - bem_brasil - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #009791;">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/cookies.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
