@{
}
<div class="containerIndex">
    <h1 class="tituloIndex">Quero doar:</h1>
    <div class="row">

<div class="col">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Comida</h5>
        <h3 id="cardItens" class="card-text">Descrição:</h3>
        <h3 id="cardItens" class="card-text">Validade:</h3>
        <h3 id="cardItens" class="card-text">Quantidade:</h3>
        <h3 id="cardItens" class="card-text">Localização:</h3>
    <a href="#" class="btn btn-primary" style=" background-color: #3bca78;" box-shadow: 0 4px 9px -4px #2c9f4a;>Editar</a>
    <a href="#" class="btn btn-primary" style=" background-color: #3bca78;" box-shadow: 0 4px 9px -4px #2c9f4a;>Excluir</a>
    </div>
  </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <button>Editar</button>
      <button>Excluir</button>
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Roupa</h5>
      <h3 id="cardItens" class="card-text">Descrição:</h3>
      <h3 id="cardItens" class="card-text">Quantidade:</h3>
      <h3 id="cardItens" class="card-text">Tamanho:</h3>
      <h3 id="cardItens" class="card-text">Localização:</h3>
      <a href="#" class="btn btn-primary" style=" background-color: #3bca78;" box-shadow: 0 4px 9px -4px #2c9f4a;>Editar</a>
      <a href="#" class="btn btn-primary" style=" background-color: #3bca78;" box-shadow: 0 4px 9px -4px #2c9f4a;>Excluir</a>
    </div>  
   </div> 
</div>



<div class="col">

    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brinquedo</h5>
          <h3 id="cardItens" class="card-text">Descrição:</h3>
          <h3 id="cardItens" class="card-text">Quantidade:</h3>
          <h3 id="cardItens" class="card-text">Localização:</h3>
          <a href="#" class="btn btn-primary" style=" background-color: #3bca78;" box-shadow: 0 4px 9px -4px #2c9f4a;>Editar</a>
          <a href="#" class="btn btn-primary" style=" background-color: #3bca78;" box-shadow: 0 4px 9px -4px #2c9f4a;>Excluir</a>
    </div>  

        </div>
    </div>
</div>
</div>



<div class="containerIndex mb-8">



    <h1 class="tituloIndex">Publicações: Itens que você precisa</h1>

  

</div>