@{
}
    <!-- Endereco -->

    <form>

    <input type="text" id="Cep" class="form-control mb-4" placeholder="Cep">

    <input type="text" id="Rua" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="Cidade" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="UF" class="form-control mb-4" placeholder="UF">

    <input type="text" id="Bairro" class="form-control mb-4" placeholder="Bairro">

    <input type="number" id="NumeroCasa" class="form-control mb-4" placeholder="Número casa/apto">

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

        <!-- Subject -->

    <!-- Send button -->
    <button class="btn btn-primary me-3" type="submit" style="margin-top: 25px; margin-bottom: 25px;">Públicar</button>

</form>
<!-- Default form contact -->