@{
    ViewData["Title"] = "Home Page";
}

<div class="containerIndex">
    <h1 class="tituloIndex">Quero doar:</h1>

    <div class="row">
    <div class="col">

        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    </div>

</div>

<div class="containerIndex mb-8">
    <h1 class="tituloIndex">Preciso disso:</h1>

    <div class="row">
    <div class="col">

        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    </div>

    
      <a asp-controller="Home" asp-action="Publicar" style="color: #009791;">aqui.</a>

</div>
