@using bem_brasil.DataDb
@using bem_brasil.Extensions
@model List<Produto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="containerIndex">
    <h1 class="tituloIndex">Quero doar:</h1>
    <div class="row">


            @foreach(var produtod in Model)
            {
                <div class="col">
                 <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@produtod.TipoProduto.GetDisplayName()</h5>
                        <h3 id="cardItens" class="card-text">Descrição: @produtod.Descricao</h3>
                        <h3 id="cardItens" class="card-text">Validade: @produtod.Validade</h3>
                        <h3 id="cardItens" class="card-text">Quantidade: @produtod.QtdProduto</h3>
                        <h3 id="cardItens" class="card-text">Localização:</h3>
                    <a class="btn btn-primary" style="
                      background-color: #3bca78;
                      box-shadow: 0 4px 9px -4px #2c9f4a;" asp-controller="Home" asp-action="Telacomida">Doar</a>
                    </div>
                  </div>
                  </div>
            }
</div>








<div class="containerIndex mb-8">
    <h1 class="tituloIndex">Preciso disso:</h1>

    <div class="row">
    <div class="col">

        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Go somewhere</a>
      </div>
    </div>
    </div>

    </div>


</div>
