@{
    ViewData["Title"] = "Home Page";
}

<div class="containerIndex">
    <h1 class="tituloIndex">Quero doar:</h1>
    <div class="row">

<div class="col">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Comida</h5>
        <h3 id="cardItens" class="card-text">Descrição:</h3>
        <h3 id="cardItens" class="card-text">Validade:</h3>
        <h3 id="cardItens" class="card-text">Quantidade:</h3>
        <h3 id="cardItens" class="card-text">Localização:</h3>
    <a href="#" class="btn btn-primary" style="
      background-color: #3bca78;"
      box-shadow: 0 4px 9px -4px #2c9f4a;>Doar</a>
    </div>
  </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Roupa</h5>
      <h3 id="cardItens" class="card-text">Descrição:</h3>
      <h3 id="cardItens" class="card-text">Quantidade:</h3>
      <h3 id="cardItens" class="card-text">Tamanho:</h3>
      <h3 id="cardItens" class="card-text">Localização:</h3>
      <a href="#" class="btn btn-primary" style="
      background-color: #3bca78;
      box-shadow: 0 4px 9px -4px #2c9f4a;">Doar</a>
    </div>  
   </div> 
</div>



<div class="col">

    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brinquedo</h5>
          <h3 id="cardItens" class="card-text">Descrição:</h3>
          <h3 id="cardItens" class="card-text">Quantidade:</h3>
          <h3 id="cardItens" class="card-text">Localização:</h3>
      
          <a href="#" class="btn btn-primary" style="
          background-color: #3bca78;
          box-shadow: 0 4px 9px -4px #2c9f4a;">Doar</a>
    </div>  

        </div>
    </div>
</div>
</div>



<div class="containerIndex mb-8">
    <h1 class="tituloIndex">Preciso disso:</h1>

    <div class="card pt-4 pb-4" id="erro" style="text-align: center; padding: 5px;">
    <h1 style="color: red; font-size: 25px;">Nenhum item a ser exibido no momento <img style="width: 25px;" src="~/img/sad.png"/></h1>
    <h3 style="font-size: 18px;"> Você pode fazer a postagem de um <a style="color: #3bca78;" asp-controller="Home" asp-action="Precisodisso">pedido</a> ou <a style="color: #3bca78;" asp-controller="Home" asp-action="Querodoar">doação.</a></h3>
   
    </div>

</div>
