@{
    ViewData["Title"] = "Quero doar";
}

<div class="divDoar">
        <h1 class="h1Doar">Você pode fazer a publicação de um item que deseja doar clicando <a class="nav-link" asp-controller="Home" asp-action="Publicardoacao">aqui.</a> </h1>
</div>


<div class="containerIndex">
    <h1 class="tituloIndex">Quero doar:</h1>

    <div class="row">
    <div class="col">

        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Preciso disso</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Preciso disso</a>
      </div>
    </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Preciso disso</a>
      </div>
    </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary" style="box-shadow: 0 4px 9px -4px #2c9f4a; background-color: #3bca78;" 
        onMouseOver="this.style.backgroundColor='#29B966'" onMouseOut="this.style.backgroundColor='#3bca78'">Preciso disso</a>
      </div>
    </div>
    </div>

    </div>

</div>






<!-- Tela escolha de doação -->

<label>Escolha o tipo de item que você deseja doar</label>

<select class="browser-default custom-select mb-4" style="width: 200px;">
  <option value="" disabled>Escolha</option>
  <option value="1">Comida</option>
  <option value="2">Roupa</option>
  <option value="2">Roupa</option>
  <option value="3">Brinquedo</option>
</select>




<!-- Tela escolha alimento -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Doação</p>

        <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Tipo de alimento</option>
        <option value="1" selected>Arroz</option>
        <option value="2">Feijão</option>
        <option value="3">Carne</option>
        <option value="4">Cesta básica</option>
    </select>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nome">

    <!-- Validade -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Validade">

    <!-- Validade -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Link imagem">

    
    <!-- Endereco -->

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Cep">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Bairro">

    <input type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Número casa/apto">

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

        <!-- Subject -->

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Públicar</button>

</form>
<!-- Default form contact -->







<!-- Tela escolha Roupa -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Doação</p>

        <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Tipo de roupa</option>
        <option value="1" selected>Inverno</option>
        <option value="2">Verão</option>
        <option value="3">Infantil</option>
        <option value="4">Adulta</option>
    </select>

    <!-- Name -->
    <input type="text" id="inputTituloDoar" class="form-control mb-4" placeholder="Título">

    <!-- Validade -->
    <input type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Tamanho">

    <!-- Validade -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Link imagem">

    
    <!-- Endereco -->

    <input type="text" id="inputTituloDoar" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Cep">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Bairro">

    <input type="number" id="defaultContactFormName" class="form-control mb-4" placeholder="Número casa/apto">

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

        <!-- Subject -->

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Públicar</button>

</form>
<!-- Default form contact -->







<!-- Tela escolha Brinquedo -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Doação</p>

        <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled></option>
        <option value="1" selected>Inverno</option>
        <option value="2">Verão</option>
        <option value="3">Infantil</option>
        <option value="4">Adulta</option>
    </select>

    <!-- Name -->

    <input type="text" id="inputTituloDoar" class="form-control mb-4" placeholder="Título">

    <!-- Validade -->
    <input type="number" id="inputQuantDoar" class="form-control mb-4" placeholder="Quantidade">

    <!-- Validade -->
    <input type="text" id="inputLinkDoar" class="form-control mb-4" placeholder="Link imagem">

    
    <!-- Endereco -->

    <input type="text" id="inputRuaDoar" class="form-control mb-4" placeholder="Rua">

    <input type="text" id="inputCepDoar" class="form-control mb-4" placeholder="Cep">

    <input type="text" id="inputCidadeDoar" class="form-control mb-4" placeholder="Cidade">

    <input type="text" id="inputBairroDoar" class="form-control mb-4" placeholder="Bairro">

    <input type="number" id="inputNumeroCasaDoar" class="form-control mb-4" placeholder="Número casa/apto">

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Descrição"></textarea>
    </div>

        <!-- Subject -->

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Públicar</button>

</form>
<!-- Default form contact -->




