@{
    ViewData["Title"] = "Quem somos?";
}

<h1 class="tituloSobre"><strong class="strongSobre">Bem Brasil</strong></h1>

<div class="textoSobre">
<p>Este projeto foi idealizado no Hackathon 2021, onde foi vencedor. Em 2022 como projeto final do curso de C# pelo Senac/Entra21, decidimos por essa idéia em prática.</p>
<p>O Bem Brasil veio para unir a fome com a vontade de comer, permitindo que itens como comida, roupas e brinquedos sejam solicitados ou doados.</p>
<p>Não temos como meta fins lucrativos, a plataforma é completamente gratuita.</p>
</div>

<h1 class="tituloSobre"><strong class="strongSobre">Desenvolvido por</strong></h1>


<div class="desenvolvidoPor">
<div class="row">
  <div class="col-xl-4 col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="/img/portella.jfif"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Gabriel Perereia Portella</p>
            <a href="mailto:gportella2600@hotmail.com" class="email">gportella2600@hotmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="/img/gab_retz.jfif"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Gabriel Retzlaff</p>
            <a href="mailto:gretzlaff13@gmail.com" class="email">gretzlaff13@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="/img/gustavo.jfif"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Gustavo da Silva de Souza</p>
            <a href="mailto:gusssouza23@gmail.com" class="email">gusssouza23@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="/img/luis.jfif"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Luis Vicente Quintino</p>
            <a href="mailto:lvquintino12333@gmail.com" class="email">lvquintino12333@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <img
            src="/img/nicolas.jfif"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Nicolas do Nascimento Carvalho</p>
            <a href="mailto:nycocarvalho@gmail.com" class="email">nycocarvalho@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>