@{
    ViewData["Title"] = "Tela Roupa";
}


<div id="container">

	<!-- Start	Product details -->
	<div class="product-details">

		<!-- 	Product Name -->
		<h1>Arroz Tio João</h1>
		<!-- 		<span class="hint new">New</span> -->
		<!-- 		<span class="hint free-shipping">Free Shipping</span> -->
		<!-- 		the Product rating -->
		<!-- The most important information about the product -->
		<p class="information align-items-center" >" Especially good for container gardening, the Angelonia will keep blooming all summer even if old flowers are removed. Once tall enough to cut, bring them inside and you'll notice a light scent that some say is reminiscent of apples. "</p>



		<!-- 		Control -->
		<div class="control">

			<!-- Start Button buying -->
			<button class="btn">
				<!-- 		Buy Now / ADD to Cart-->
				<span class="buy">Quero isso</span>
			</button>
			<!-- End Button buying -->

		</div>

	</div>

	<!-- 	End	Product details   -->
	<!-- 	Start product image & Information -->

	<div class="product-image">

		<img src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg" alt="Omar Dsoky">

		<!-- 	product Information-->
		<div class="info">
			<ul>
				<li><strong>Quantidade: </strong>7777777777</li>
				<li><strong>Tamanho: </strong>7777777777</li>
				<li><strong>Localização: </strong>777777777</li>

			</ul>
		</div>
	</div>
	<!--  End product image  -->


</div>


