@{
    ViewData["Title"] = "Salvos";
}
<p></p>
    <div class="arroz">
    <div id="divSalvos" onclick="teste()">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Preciso disso - Favoritados</h5>
                    <p class="card-text"></p>
                <a class="btn btn-primary" style="background-color:#3bca78;">Acessar pedidos</a>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div id="divSalvos2" onclick="teste2()">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Itens que quero doar</h5>
                <p class="card-text"></p>
                <a class="btn btn-primary" style="background-color:#3bca78;">Acessar doações</a>
            </div>
        </div>
    </div>
</div>
</div>
