@{
    ViewData["Title"] = "Tela Brinquedo";
}


<div id="container">

	<!-- Start	Product details -->
	<div class="product-details text-center" >

		<!-- 	Product Name -->
		<h1 style="margin-bottom:20px">Spider-man</h1>
		<!-- 		<span class="hint new">New</span> -->
		<!-- 		<span class="hint free-shipping">Free Shipping</span> -->
		<!-- 		the Product rating -->
		<!-- The most important information about the product -->
		<p class="information">" Especially good for container gardening, the Angelonia will keep blooming all summer even if old flowers are removed. Once tall enough to cut, bring them inside and you'll notice a light scent that some say is reminiscent of apples. "</p>



		<!-- 		Control -->
		<div class ="text-center" style="margin-top:40px">

			<!-- Start Button buying -->
			
			<!-- End Button buying -->
			<a class="btn btn-primary" style="background-color: #FFF; color: #7d7d7d;" onMouseOver=" changePic1(), this.style.backgroundColor='#3bca78'" onMouseOut="changePic22(), this.style.backgroundColor='#FFF' ;">
				<img id="myImg" src="/img/icone-favorito-escuro.png" width="50" height="50"/>
			</a>

		</div>

	</div>

	<!-- 	End	Product details   -->
	<!-- 	Start product image & Information -->

	<div class="product-image">

		<img class="imagem-produto" src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg" alt="Omar Dsoky">

		<!-- 	product Information-->
		<div class="info">
			<ul>
				<li><strong>QUANTIDADE: </strong>7777777777</li>
				<li><strong>TAMANHO: </strong>7777777777</li>
				<li><strong>LOCALIZAÇÃO: </strong>777777777</li>
			</ul>
		</div>
	</div>
	<!--  End product image  -->


</div>
    <script src="//code.tidio.co/eqirgiohelsdtidmqzgp1grby7ga9mtw.js" async></script>



