@{
    ViewData["Title"] = "Termos de uso";
}
<body>
<div style="margin-top: 50px;">
<h1 class="text-center" style="color:#009791; font-size: 35px;">
    Termos e Condições
</h1>
<h2 class="text-center" style="font-size:21px;">
    Por favor, leia com atenção os termos e condições. Ao se cadastrar no <strong style="color:#3bca78;">Bem Brasil</strong> você ESTÁ DE ACORDO COM AS CONDIÇÕES E TERMOS do Website.
    Note que a recusa destes Termos do Website impedirá que você faça pedidos de produtos do nosso Website.
</h2>

<br />
<br />
<br />

        <h3><strong style="color:#3bca78;">1. SERVIÇOS OFERECIDOS</strong></h3>

        <p>
         <i>1.1 -  </i> Este TERMO se aplica para regular o uso do serviço oferecido pelo <strong style="color:#3bca78;">Bem Brasil</strong> aos USUÁRIOS, qual seja, possibilitar a escolha, pelos USUÁRIOS,
            de DOADORES cadastrados e, via on-line, efetivar solicitações para aquisição (e entrega em domicílio e retirada no local combinado) de gêneros alimentícios fornecidos pelos DOADORES,
          de acordo com a doação disponibilizada.
        </p>
        <p>
          <i>1.2 -  </i> O serviço do consiste, portanto, em aproximar, através do nosso site, os USUÁRIOS e os DOADORES cadastrados, possibilitando que os USUÁRIOS encaminhem, aos DOADORES, pedidos de entrega de gêneros alimentícios,
         bem como, sendo essa a opção dos USUÁRIOS,
         receber on-line o local para retirada do alimento.
        </p>
        <p>
         <i>1.3 -  </i> Desde logo fica esclarecido ao USUÁRIO - o qual se declara ciente - que o serviço oferecido pelo <strong style="color:#3bca78;">Bem Brasil</strong> se relaciona apenas à intermediação para comercialização de produtos alimentícios, não abarcando preparo, embalagem,
         disponibilização e entrega física (via motoboy ou outros meios) dos produtos, sendo esses quatro itens de responsabilidade integral do DOADOR, a quem deverão ser direcionados quaisquer reclamos acerca de problemas decorrentes de vício,
         defeito ou inexecução da feitura, preparo e entrega de produtos alimentícios.
        </p>

        <h3><strong style="color:#3bca78;">2. CADASTRO</strong></h3>

        <p>
               <i>2.1 - </i>O USUÁRIO, para utilizar os serviços acima descritos, deverá ter capacidade jurídica para atos civis e deverá, necessariamente, prestar as informações exigidas no CADASTRO,
              assumindo integralmente a responsabilidade (inclusive cível e criminal) pela exatidão e veracidade das informações fornecidas no CADASTRO,
             que poderá ser verificado, a qualquer momento, pelo <strong style="color:#3bca78;">Bem Brasil.</strong>
        </p>
        <p>
         <i>2.2 - </i> Em caso de informações incorretas, inverídicas ou não confirmadas, bem assim na hipótese da negativa em corrigi-las ou enviar documentação que comprove a correção, o <strong style="color:#3bca78;">Bem Brasil</strong> se reserva o direito de não concluir o cadastramento em curso ou,
             ainda, de bloquear o cadastro já existente, impedindo o USUÁRIO de utilizar os serviços on-line até que, a critério do <strong style="color:#3bca78;">Bem Brasil</strong> , a situação de anomalia esteja regularizada. O <strong style="color:#3bca78;">Bem Brasil</strong> se reserva o direito de impedir,
             a seu critério, novos CADASTROS, ou cancelar os já efetuados, em caso de ser detectada anomalia que, em sua análise, seja revestida de gravidade ou demonstre tentativa deliberada de burlar as regras aqui descritas,
             obrigatórias para todos os USUÁRIOS. Também agirá o <strong style="color:#3bca78;">Bem Brasil</strong> de tal forma caso verifique descumprimento, pelo USUÁRIO, de qualquer obrigação prevista no presente TERMO.  
        </p>
        <p>
            <i>2.3 - </i> Efetuado, com sucesso, o CADASTRO, o USUÁRIO terá acesso aos serviços por meio de login e senha, dados esses que se compromete a não divulgar a terceiros,
            ficando sob sua exclusiva responsabilidade qualquer solicitação de serviço que seja feita com o uso de login e senha de sua titularidade.
        </p>

        <h3><strong style="color:#3bca78;">3. OBRIGAÇÕES DO USUÁRIO</strong></h3>
        <p>
            <i>3.1 - </i> Efetuado com sucesso o CADASTRO do USUÁRIO, este se obriga a não divulgar a terceiros login e senha de acesso,
            nem permitir o uso de tais informações por terceiros, responsabilizando-se pelas consequências do uso de login e senha de sua titularidade.
        </p>
        <p>
            <i>3.2 - </i>  É obrigação do USUÁRIO fornecer informações cadastrais totalmente verídicas e exatas, responsabilizando-se exclusiva e integralmente (em todas as searas jurídicas) por todo o conteúdo por si informado no item CADASTRO,
            mantendo atualizado e confirmado o endereço para entrega dos produtos encomendados.
        </p>

        <h3><strong style="color:#3bca78;">4. OBRIGAÇÕES DO <strong style="color:#3bca78;">BEM BRASIL</strong> </strong></h3>
        <p>
            <i>4.1 - </i> Disponibilizar no site <strong style="color:#3bca78;">Bem Brasil</strong> espaço virtual que permita ao USUÁRIO devidamente cadastrado efetivar pedidos de doações de gêneros alimentícios anunciados e comercializados pelos DOADORES e,
            também, disponibilizar ao USUÁRIO meios de comunicação para estar marcando o local para entrega.
        </p>
        <p>
            <i>4.2 - </i>Proteger, por meio de armazenamento em servidores ou quaisquer outros meios magnéticos de alta segurança, a confidencialidade de todas as informações e cadastros relativos aos USUÁRIOS, contudo,
            não responderá pela reparação de prejuízos que possam ser derivados de apreensão e cooptação de dados por parte de terceiros que, rompendo os sistemas de segurança, consigam acessar essas informações.
        </p>

</div>
</body>